.sidebar
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 101;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(210, 210, 210);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    padding-top: 5px;
}

.sidebar-link
{
    background-color: rgb(254,254,254);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover
{
    cursor: pointer;
}

.sidebar-link:hover
{
    background-color: whitesmoke;
}

.sidebar img
{
    width: 24px;
    margin-bottom: 8px;


}

.sidebar div
{
    font-family: Roboto, Arial;
    font-size: 10px;

}